.custome-image-with-text__main-section {
  display: flex;
  flex-direction: column;
}

.cutome-image-with-text__image-container {
  padding-bottom: 100%;
  position: relative;
}
.cutome-image-with-text__content-container {
  padding: 40px;
}
.cutome-image-with-text__image-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.cutome-image-with-text__heading {
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 10px;
}

.cutome-image-with-text__description p {
  margin: 0 0 3.2rem 0;
}

.button--tag {
  display: flex;
  align-items: center;
}
.button--tag a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.button--tag a span {
  padding: 0.2rem 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #181818;
  cursor: pointer;
}

.button--tag a::after {
  content: "";
  width: 0.1rem;
  height: 1.2rem;
  margin: 0 1.6rem;
  background-color: #d6d6d6;
}

.button--tag a:last-child::after {
  display: none;
}

.button--tag a span::after {
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  right: 0;
  content: "";
  width: 0;
  height: 0.1rem;
  background-color: #000;
  transition: width 0.25s;
}
.button--tag a span:hover::after {
  width: 100%;
}

a {
  text-decoration: none;
}

@media (min-width: 750px) {
  .custome-image-with-text__main-section {
    flex-direction: row;
  }

  .cutome-image-with-text__image-container {
    padding-bottom: 30%;
    width: 80%;
  }

  .cutome-image-with-text__content-container {
    display: flex;
    flex-direction: column;
  }
}
