.custom-brands__image-container {
  display: flex;
  column-gap: 60px;
  overflow-x: auto;
  align-items: center;
}

.custom-brands__image-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  opacity: 0.1;
}
.custom-brands__image-container::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}

.custom-brands__image img {
  height: 50px;
}
.custom-brands__image img {
  height: 50px;
  transition: opacity 0.25s ease;
}

.custom-brands__image:hover img {
  opacity: 0.6;
}
@media (min-width: 750px) {
  .custom-brands__image-container {
    justify-content: space-between;
  }
}
